.event-binding{
  margin: 50px ;
}

.two-way-binding {
  margin: 50px;
}

.valorAtual {
  background: #ececec;
  width: 35%;
  height: auto;
  clear: both;
  text-align: center;
}

.valorSalvo {
  background: #12abdb;
  color: #fff;
  width: 35%;
  height: auto;
  clear: both;
  text-align: center;
}

.highlight {
  background: yellow;
  font-weight: bold;
}